* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.projectpage {
    /* background-image: linear-gradient( (rgb(5, 121, 5)),
                                        (rgb(162, 228, 123))); */
    background:linear-gradient(rgba(255, 255, 255, 0.6), rgba(24, 243, 53, 0.6));
    margin-left: 15px;
    margin-right: 15px

}

.resumepage {
    background: linear-gradient(rgba(11, 33, 63, 0.6), rgba(171, 206, 235, 0.6));
}

.homepage {
    background: repeating-linear-gradient(rgb(124, 191, 236), blue);
    margin-left: 15px;
    margin-right: 15px;
}

.storePhoto {
    /* width: 60%; */
    margin: 50px; 
    padding-right: 50px;
   

}

.avatar {
    float: left;
    height: 500px;
    width: 400px;
    padding-top: 50px;
    padding-left: 150px;
    background-color: cornsilk;
}

.bio {

}

.container {
    display: flex
    margin-right: 20px;
    margin-top: 150px;
    width: 515px;
}

.hello {
    margin-bottom: 15px;
}

.developer {
    margin-bottom: 30px;
}

.myNameProjPage {
    margin-bottom: 5px;
    width: 153px;
    margin-left: 30px;
    margin-top: 10px;
    font-family: fantasy;

}

.firstProject {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 30px;
}

.projectDescrip {
    /* width: 1000px;
    margin-left: 50px; */
    font-family: fantasy;
    margin-right: 50px;
}

.projectbody {
    border: 15px;
}

.navigation {
    margin-bottom: 30px;
    margin-top: 10px;
    /* margin-left: px; */
    margin-right: 15px;
    width: 333px;
    font-family: fantasy;
    float: right;
    text-decoration: underline;

}

.title {
    margin-bottom: 30px;
    text-align: center;
    font-family: cursive;
    font-size: 2em
}

.infolink {
    /* margin-left: 30px; */
    font-family: "Gill Sans" , sans-serif;
    height: 50px
    /* margin-right: 150px;
    margin-left: 60px; */
    /* padding-top: 75px; */
}

.myNameResumePage {
    margin-bottom: 5px;
    border-style: dashed solid;
    width: 153px;
    margin-left: 30px;
    margin-top: 10px;
    font-family: fantasy;
}


.resumeTitle {
    margin-top: 30px;
    font-family: cursive;   
    margin-bottom: 50px;
    font-size: 7em
}

.myNameResume {
    font-style: fantasy;
    font-size: xx-large;
    margin-bottom: 40px;

}

.workExperience {
    margin-bottom: 40px;
}

.myNameResume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nameEmail {
    margin-top: 10px;
   
}

.blurb {
    margin-bottom: 40px;
    font-size: 1.25em;
}

.bodyResume {
    margin-left: 15px;
    margin-right: 15px;

}

.empHistory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.SECU {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.education {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.educationHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 0px;
}

.collegeYears {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerprojectpage {
    display: flex;
    justify-content: space-evenly;
}

.lazyRiver {
    font-family: fantasy;
    /* margin-right: 100px; */
}

.placeholderProject {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;

}

.placeholderprojecttitle {
    margin-top: 225px;
    font-family: fantasy
}

.placeholderProjectPhoto {
    width: 325px;
    height: 300px;
    margin-top: 40px;

}

.placeholderText {
    font-family: fantasy;
}

.inline {
    display: flex;
    font-family: fantasy
}

@media screen and (min-width: 990px) {

}